
.carousel {
	height: 28rem;
	margin: 2rem;
	@include breakpoint-down(medium) {
		height: 22rem;
	}
	@include breakpoint-down(small) {
		height: 20rem;
	}

	.carousel-inner {
	
		.carousel-item {
				
			.carousel-card {
				width: 18rem;
				justify-self: center;
				border-radius: 5px;
				box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 3.2px;
	
				&-img-top {
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				object-fit: fill;
				}
	
				&-body {
				background-color: $secondary-color!important;
				border-bottom-left-radius: 0.5rem;
				border-bottom-right-radius: 0.5rem;
				}
				p {
					padding-bottom: 0.1rem !important;
					margin-bottom: 0rem !important;
				}
	
				@include breakpoint-down(medium) {
					width: 12rem;
				}
				@include breakpoint-down(small) {
					width: 10rem;
				}
			}
		}
	
	}
}
