// #carousel {
// 	padding: 10px 0;
// 	box-shadow: -1px 3px 23px -8px $primary-color;
// 	-webkit-box-shadow: -1px 3px 23px -8px $primary-color;
// 	-moz-box-shadow: -1px 3px 23px -8px $primary-color;

// 	.carousel-product {
// 		object-fit: fill;
// 		// transform: translateX(150%);
// 	}


// }

.carousel-card {
	width: 20rem;

	@include breakpoint-down(medium) {
		width: 14rem;
	}
	@include breakpoint-down(small) {
		width: 12rem;
	}
}