.payments {
		display: flex;
		align-items: end;
		justify-content: center;
		margin-top: 2rem;
		
	.payments-container {

		align-self: center;
		justify-self: center;
		max-width: 20rem;
		p {
			font-size: 1.3rem;
		}
	
		.payments-icons {
			display: flex;
			justify-content: space-around;
			margin: 1rem;
			gap: 3rem;
	
			img {
				height: 3rem;
				width: 3rem;
			}
		}
	}
}