* {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  box-sizing: border-box; }

ul {
  margin: 0;
  padding: 0; }

.bg-primary {
  background-color: #E5B9DC !important;
  color: #E5B9DC !important; }

.bg-secondary {
  background-color: #fefcfc !important;
  color: #fefcfc !important; }

.bg-accent {
  background-color: #141414 !important; }

.text-color {
  color: #570E53 !important; }

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 2rem; }

.header {
  padding: 10px 0;
  box-shadow: -1px 3px 23px -8px #E5B9DC;
  -webkit-box-shadow: -1px 3px 23px -8px #E5B9DC;
  -moz-box-shadow: -1px 3px 23px -8px #E5B9DC; }
  .header .navbar {
    justify-content: space-evenly; }
    .header .navbar .navbar-brand .logo {
      height: 4.5rem;
      width: 4.5rem; }
    .header .navbar .title {
      transform: translateX(35%);
      justify-self: left; }
      @media (max-device-width: 991px) {
        .header .navbar .title {
          transform: translateX(-10%); } }
      @media (max-device-width: 479px) {
        .header .navbar .title {
          display: none; } }
    .header .navbar .navbar-collapse {
      flex-grow: 0; }
    .header .navbar .nav-item {
      transition: 75ms ease-in-out; }

.main .carousel {
  height: 25rem; }
  .main .carousel .carousel-product {
    height: 22rem; }

.footer {
  -webkit-box-shadow: 0px 0px 3px 2px #E5B9DC;
  -moz-box-shadow: 0px 0px 3px 2px #E5B9DC;
  box-shadow: 0px 0px 3px 2px #E5B9DC;
  padding-right: 2rem;
  padding-left: 2rem; }
  .footer .logo {
    width: 4rem;
    height: 4rem;
    transform: translateY(-20%); }
  .footer .rrss {
    width: 3rem;
    height: 3rem;
    filter: invert(10%) sepia(20%) saturate(10000%) hue-rotate(285deg); }

.payments {
  display: flex;
  align-items: center;
  justify-content: center; }
  .payments .payments-container {
    align-self: center;
    justify-self: center;
    max-width: 20rem; }
    .payments .payments-container p {
      font-size: 1.3rem; }
    .payments .payments-container .payments-icons {
      display: flex;
      justify-content: space-around;
      margin: 1rem; }
      .payments .payments-container .payments-icons img {
        height: 3rem;
        width: 3rem; }

.products-container {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap; }

.card {
  flex: 1 1 10rem;
  align-self: center;
  justify-content: center;
  width: 20rem;
  min-width: 16rem;
  min-height: 26rem;
  max-width: 16rem;
  margin: 2rem;
  justify-self: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 3.2px; }
  @media (max-device-width: 991px) {
    .card {
      min-width: 14rem;
      max-width: 14rem; } }
  @media (max-device-width: 770px) {
    .card {
      min-width: 16rem;
      max-width: 16rem; } }
  @media (max-device-width: 479px) {
    .card {
      max-width: 18rem; } }
  .card-img-top {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    object-fit: fill; }
  .card-body {
    background-color: #fefcfc !important;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; }
    .card-body .btn-primary {
      background-color: #E5B9DC !important;
      color: #570E53 !important;
      border-radius: 5px;
      text-align: center;
      opacity: 1;
      transition: ease-in-out 150ms;
      border-color: #E5B9DC; }
      .card-body .btn-primary:hover {
        opacity: 0.7;
        transition: ease-in-out 150ms;
        box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 3.2px; }
  .card p {
    padding-bottom: 0.1rem !important;
    margin-bottom: 0rem !important; }

.carousel-card {
  width: 20rem; }
  @media (max-device-width: 991px) {
    .carousel-card {
      width: 14rem; } }
  @media (max-device-width: 479px) {
    .carousel-card {
      width: 12rem; } }
